body{
    overflow:hidden;
    margin:0px; padding:0px;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #FF530D, #E82C0C, #E80C7A, #FF0DFF);
	background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}
input[type="submit"] {
  width: 100px;
  height: 50px;
  border: 2px solid #efefef;
  text-transform: uppercase;
}

select {
  width:100px;
  background-color: #313131;
  border-radius: 0;
  color:#fff;
  height:50px;
  border:0;
}

.custom-select {
  position:relative;
  
  margin:0 auto;
  text-align: center;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

